* {
    font-family: 'Montserrat', sans-serif;
}

/*Edição NAV*/

/*Cor Fundo do Nav*/
.bg-Nav
{
    background-color: #2E2E2E;    
}

/*Cor de Font do Nav*/

.color_fontNav{
    color: #BDBDBD;
}



.navbar-toggler-icon
{
    border: 1px solid rgb(131, 172, 219);
}

.color_mistyrose{
    color: mistyrose;;
}
